body{
	background: url(img/subtle_grunge.png);
	}

header{
	background: url(img/subtle_grunge.png) 0 0;
	position: relative;
}
nav{
	background: url(img/mochaGrunge.jpg) 0 0;
}
nav a{
	color: #eeeeee;
	position: relative;
}
#logobox{
	position: relative;
	z-index: 999999;
}

h1, a.size{
	font-family: langdon;
	letter-spacing: -1px;
	font-size: 80px;
	padding-bottom: 30px;
	color: #111111;
	opacity: .7;
}

#home{
	background: #f4f4f4;
	border-bottom: 2px solid #777777;
}

#instructions{
	max-width: 500px;
	margin-left: 16%;
	padding-top: 80px;
}
#instructions h1{
	font-size: 65px;
}
#instructions p{
	color: #222222;
	font-size: 16px;
	line-height: 18px;
}
#instructions .inner{
	padding: 0px;
	padding-left: 0px;
}
footer{
	background: url(img/mochaGrunge.jpg);
	opacity: 1;
}
#matrix{
	max-width: 40%;
	float:right;
	padding: 0px 7% 0px 0px;
	background-image: linear-gradient(right , rgb(187,190,195) 6%, rgb(244,244,244) 35%);
background-image: -o-linear-gradient(right , rgb(187,190,195) 6%, rgb(244,244,244) 35%);
background-image: -moz-linear-gradient(right , rgb(187,190,195) 6%, rgb(244,244,244) 35%);
background-image: -webkit-linear-gradient(right , rgb(187,190,195) 6%, rgb(244,244,244) 35%);
background-image: -ms-linear-gradient(right , rgb(187,190,195) 6%, rgb(244,244,244) 35%);

background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.06, rgb(187,190,195)),
	color-stop(0.35, rgb(244,244,244))
);
}

#matrix img#featuredshoe{
	z-index: 1;
	width: 100%;
}

#stageone{
	background: url(img/mochaGrunge2.jpg);
	padding: 85px 0px 250px 0px;
	border-bottom: #999999 solid 2px;
}

#stageone article{
	float:left;
	width: 33.3%;
	text-align: center;
}

article#one{
	position: relative;
}
article#one img#words{
	position: absolute;
	left: 350px;
}

article#three{
	position: relative;
}

article#three #words{
	position: absolute;
	left: -50px;
	top: 300px;
}

.wrap{
	max-width: 1280px;
}

.info{
	clear:both;
	text-align:center;
}

.position{
	font-family: langdon;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
}
.title{
	font-family: langdon;
	font-size: 60px;
	text-align: center;
	display:inline;
	color:#4fd2e8;
}

.description{
	font-size: 14px;
	width: 70%;
	margin: 0 auto;
	line-height: 16px;
}

.blueline{
	background: #999999;
	height: 1px;
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.blueline img{
	position: relative;
	top: -18px;
}

#removable{
	background: #f4f4f4;
	height: 650px;
}

#bootup{
	position: relative;
	float:left;
	margin-top: -150px;
}

#right .inner{
	text-align: right;
	position: relative;
	top: 100px;
}

#right a{
	margin-top: 10px;
}

@media only screen and (min-width: 1441px) {
#instructions{
		margin-left: 20%;
}
}
