/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* >> The Magnificent CLEARFIX << */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
} /* Hides from IE-mac \*/
.clearfix {
	display: block;
}

/*fonts*/

@font-face {
    font-family: 'karbonmedium';
    src: url('fonts/karbon/karbon-medium-webfont.eot');
    src: url('fonts/karbon/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-medium-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-medium-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-medium-webfont.svg#karbonmedium') format('svg');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
}


@font-face {
    font-family: 'langdon';
    src: url('fonts/langdon-webfont.eot');
    src: url('fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/langdon-webfont.woff') format('woff'),
         url('fonts/langdon-webfont.ttf') format('truetype'),
         url('fonts/langdon-webfont.svg#langdonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexalight';
    src: url('fonts/nexa_light-webfont.eot');
    src: url('fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_light-webfont.woff') format('woff'),
         url('fonts/nexa_light-webfont.ttf') format('truetype'),
         url('fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexabold';
    src: url('fonts/nexa_bold-webfont.eot');
    src: url('fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_bold-webfont.woff') format('woff'),
         url('fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	background: #fff url(img/mochaGrunge.jpg) 0 0;
	font-family: nexalight;
	letter-spacing: 2px;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.content{
	max-width: 1280px;
	margin: 0 auto;
}
header{
		background: url(img/mochaGrunge.jpg) 0 0;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
nav{
	background: #000000 url(img/subtle_grunge.png) center center;
	text-align: center;
	height: 21px;
	margin-top: 61px;
	padding: 5px 0px 4px 0px;
	z-index: 99999;
	-webkit-box-shadow:  1px 1px 1px 1px rgba(1, 1, 1, .4); 
    box-shadow:  1px 1px 1px 1px rgba(1, 1, 1, .4);
}

nav a{
	font-family: nexalight;
	font-size: 16px;
	text-decoration: none;
	color: #333333;
	padding: 5px 20px 5px 20px;
	position: relative;
	z-index: 9999;
	letter-spacing: 2px;
}

nav img{
max-width: 80px;
}

nav a:hover{
	background: url(img/subtle_grunge_blue.png) 0 0;
}
nav ul{
	margin-top: -26px;
}
nav ul li{
	display:inline;
	margin:0px -4px 0px -4px;
}

#boot{
	vertical-align: middle;
	position: relative;
	top: -10px;
}

.wrap{
	max-width: 980px;	
	margin: 0 auto;
}

.winter{
	font-family: nexabold;
	color: #46bfdf;
	letter-spacing: 3px;
	font-size: 12px;
}

.winter#feature{
	color: #eeeeee;
	padding-bottom: 10px;
	font-weight: 100;
}

#instructions{
	width: 50%;
	float:left;
}
#instructions .inner{
	padding: 20px;
	padding-left: 0px;
}

#matrix .inner{
	padding-left: 20px;
}

h1, a.size{
	font-family: langdon;
	letter-spacing: -1px;
	font-size: 80px;
	padding-bottom: 30px;
	color: #ffffff;
	opacity: .7;
}
#top{
	margin-top: 50px;
	padding-bottom: 80px;	
}
.divider{
	height: 100px;
}
#instructions p{
	font-family: nexalight;
	letter-spacing: 0px;
	text-align: justify;
	line-height: 18px;
	color: #ffffff;
	opacity: .7;
}

#matrix{
	width: 50%;
	display:inline-block;
	padding-top: 93px;	
}
.category{
	margin-top: 10px;
}
.slider2{
	background: #4fd2e8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmZDJlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzRmZDJlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #4fd2e8 0%, #4fd2e8 47%, #ffffff 65%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4fd2e8), color-stop(47%,#4fd2e8), color-stop(65%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #4fd2e8 0%,#4fd2e8 47%,#ffffff 65%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #4fd2e8 0%,#4fd2e8 47%,#ffffff 65%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #4fd2e8 0%,#4fd2e8 47%,#ffffff 65%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to right,  #4fd2e8 0%,#4fd2e8 47%,#ffffff 65%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd2e8', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */

	width: 100%;
	height: 20px;
}
.options{
	width: 100%;
	display:inline-block;
}
.option1{
	color: #4fd2e8;
	display:inline;
	font-size: 10px;
}
.option2{
	color: #ffffff;
		display:inline;
		text-align: right;
		float:right;
		font-size: 10px;
		margin-top:5px;
}

#products{
	clear:both;
	background: url(img/subtle_grunge.png) 0 0 repeat; 
	padding: 40px 0px 40px 0px;
}

button.product#supergrip img{
	-moz-box-shadow: 0 0 2px 4px #ccc;
-webkit-box-shadow: 0 0 2px 4px#ccc;
box-shadow: 0 0 2px 4px #ccc;
}

button.product{
	text-decoration: none;
	outline: none;
	border: none;
	background: none;
}

a.product{
	text-decoration: none;
}
a.product img:hover, button.product img:hover{
-moz-box-shadow: 0 0 2px 4px #ccc;
-webkit-box-shadow: 0 0 2px 4px#ccc;
box-shadow: 0 0 2px 4px #ccc;
}

.product{
	display:inline-block;
	margin-right:9px;
	margin-left: 9px;
}

.product img{
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	-webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid thin #ccc;
	width: 70px;
	height: 65px;
	padding: 15px;
}

#productlist{
		padding-top:20px;
}
.title{
	display: block;
	text-align:center;
	color: #000000;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: langdon;
	margin-bottom: 7px;
}

.detailsInner{
	background: #FFFFFF;
	outline: #cccccc solid thin;
	margin-top: 10px;
	-webkit-box-shadow: inset 1px 1px 3px 1px rgba(1, 1, 1, .4); 
        box-shadow: inset 1px 1px 3px 1px rgba(1, 1, 1, .4);
        padding: 40px 0px 40px 0px;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid white;
	position: relative;
	top: -48px;
	z-index: 999;
	left: 172px;
}

#left{
	float:left;
	width: 50%;
}

#left h1{
	color: #000000;
}
#right{
	float:left;
	width: 50%;
}

#left .inner p{
	font-family: nexalight;
	letter-spacing: 0px;
	text-align: justify;
	line-height: 20px;
	color: #333333;
	opacity: .7;
}
#sizes{
padding-top: 20px;
margin-left: -10px;
position: relative;
left: -10px;
}
.sizebox{
	display: inline-block;
	padding-bottom: 0px;
	padding: 10px;
	text-align: center;
	width: 50px;
	height: 50px;
}
.sizebox:hover{
		background: url(img/subtle_grunge_blue.png) 0 0;
}
a.size{
	color: #000000;
	font-size: 50px;
}
a.expert{
	display:inline-block;
	font-family: nexalight;
	letter-spacing: 0px;
	text-align: justify;
	line-height: 20px;
	font-weight:bold;
	color: #333333;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
	margin-top: 20px;
	margin-left: 10px;
	padding-left: 10px;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
a.expert:hover{
color: #777777;
}

footer{
	color: #FFFFFF;
	padding: 20px 0px 60px 0px;
	font-family: karbonmedium;
	letter-spacing: 0px;
	line-height: 20px;
	opacity: .7;
}
.column{
	float:left;
	width: 33.3%;	
}

#column1, #column3{
	padding-top: 16px;
	font-family: nexalight;
	font-weight: 100;
	font-size: 14px;
}
.column a{
	color: #FFFFFF;
	-webkit-transition:color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out;
	-o-transition:color .3s ease-in-out;
	-ms-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out;
}

.column a:hover{
	color: #4fd2e8;
}
#column2{
	text-align: center;
	padding-top: 30px;
}

#column1 p{
	margin-bottom:20px;
}
#column3{
	text-align: left;
}
#column3 a{
	display:block;
	padding: 20px 0px 20px 0px;
}
